#homeTitle {
    font-family: 'Special Elite', cursive;
    font-size: 6vh;
    text-align: center;
}
#homeTitle2 {
    font-family: 'Special Elite', cursive;
    font-size: 5vh;
    text-align: center;
}
#homeTitle3 {
    font-family: 'Special Elite', cursive;
    font-size: 5vh;
    text-align: center;
}

#homeBody {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 4vh;
    text-align: center;
    /* font-variant: small-caps;  */
}
#homeBody2 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 4vh;
    text-align: center;
    /* font-variant: small-caps;  */
}

#cherry {
    width: 15vw;
    display: block;
    /* margin-top: 5vh; */
    margin: 5vh 0 0 0;
}

#announcePic {
    width: 50%;
    display: block;
    /* margin-top: 5vh; */
    /* margin: 10vh 0 0 0; */
    /* padding: 0 50px 0 0; */
    /* transform: rotate(90deg) */
}

#homeIcon {
    width: 3rem;

}

@media only screen and (max-width: 600px) {
    #announcePic {
        width: 100%;
        display: block;
        /* margin-top: 5vh; */
        /* margin: 10vh 0 5vh 0; */
        /* transform: rotate(90deg) */
    }

    #homeTitle {
        font-family: 'Special Elite', cursive;
        font-size: 1.7rem;
        text-align: center;
    }

    #homeTitle2 {
        font-family: 'Special Elite', cursive;
        font-size: 1.3rem;
        text-align: center;
    }
}