.navbar {
    font-family: 'Special Elite', cursive;
    margin: 3vh 0;
    padding: 0 0;
}

#navButtons {
    padding: 0 30px;
    border-right: 1px solid black;
    /* text-decoration: underline; */
    font-weight: bold;
}

#navButtonsLast {
    padding: 0 30px;
    /* text-decoration: underline; */
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #burgeLogo {
        display: none;
    }
}